/* @import url('https://fonts.googleapis.com/css2?family=Lunasima&family=Ubuntu:ital,wght@0,300;0,400;1,500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500&display=swap');

* {
    font-family: 'Red Hat Display', sans-serif;;
    outline: none
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #F0F1F7;
    max-width: 1290px;
    margin: 0 auto;
    margin-bottom: 50px;
}